html{
    font-size: 62.5%;
}
.myOrder.popup-container .popup{
    width: 30.3rem;
    height: 15rem;
    border-radius: 1rem;
    background: white;
}
.myOrder.popup-container .popup-buttons{
    width: 100%;
    min-height:0;
    position: absolute;
    left: 0;
    bottom: 0;
    border-top: .1rem solid #ACABAB;
    padding: .6rem 0;
    height: 5rem;
}
.myOrder.popup-container .popup-buttons .button{
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    min-height: 0;
    border-radius: 0;
    background: transparent;
    height: 4rem;
    font-size: 1.7rem;
}

.myOrder .popup-buttons .button:last-child{
    border-left: .1rem solid #ACABAB;
    color: #E80516;
}

.myOrder .button.activated{
    outline: none;
}
.myOrder .button:after{
    display: none;
}
.myOrder .popup-head{
    display: none;
}
.myOrder .popup-body{
    height: 28rem;
    position: relative;
    padding: 0;
    width: 100%;
    text-align: center;
}

.myOrder .popup-body span{
    font-size: 1.7rem;
    margin-top: 4rem;
    display: inline-block;
    color: #333;
}
.myOrder.popup-container.refund .popup-buttons{
    border: none;
}