<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div ng-controller="otherController">
        姓名： <input placeholder="" ng-model="name" ng-change="changeVal()"><br><br>
        年龄： <input placeholder="" ng-model="age" ng-change="changeVal()"><br><br>
        性别： <input placeholder="" ng-model="sex" ng-change="changeVal()"><br><br>
        电话： <input placeholder="" ng-model="tel" ng-change="changeVal()"><br><br>
        <div ng-show="demo">
            <span>您的信息是：</span>
            <p>姓名：<span>{{name}}</span></p>
            <p>年龄：<span>{{age}}</span></p>
            <p>性别：<span>{{sex}}</span></p>
            <p>电话：<span>{{tel}}</span></p>
        </div>
    </div>
</body>
</html>
<script src="../20161110/ng-include/lib/angular.js"></script>
<script>
    var app=angular.module('app',[]);
    app.controller('otherController',function ($scope) {
        $scope.demo =false;
//        使用前要先定义该作用域的变量，$scope.name就表示输入框里的内容
        $scope.name='';
        $scope.age='';
        $scope.sex='';
        $scope.tel='';
    $scope.changeVal=function () {
        if($scope.name !='' && $scope.age !='' && $scope.sex !='' && $scope.tel !=''){
            $scope.demo=true;
        }else{
            $scope.demo=false;
        }
    }

    })
</script>