<ion-view style="background-color:rgb(245,241,241);text-align: center">

    <ion-content>
        <div style="margin-bottom: 50px">
            <img ng-src="images/login.png" alt="" style="width: 160px;height: 160px;margin-top: 80px">
        </div>
        <div class="list">
            <label class="item item-input" style="background-color:rgb(245,241,241)">
                <span class="input-label">账号</span>
                <input type="text">
            </label>
            <label class="item item-input" style="background-color:rgb(245,241,241)">
                <span class="input-label">密码</span>
                <input type="password">
            </label>
        </div>
        <button class="button button-assertive"style="width:95%; margin: 60px 10px 0 10px" ng-click="loginPage.login()">登录</button>
        <div style="margin-top: 70px; font-size: 15px;color: #43bdef" ng-click="loginPage.makeCall()">
            <span>服务电话：0371-56978282</span>
            <img src="images/telIcon.png" alt="" style="width: 13px">
        </div>
    </ion-content>

</ion-view>